 p.social a {
  margin-left: 10px;
  color: #fff;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  line-height: 45px;
  font-size: 1.3rem;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

 p.social a.github {
  background-color: black;
}

 p.social a.gplus {
  background-color: #0A66C2;
}

 p.social a.linkedin {
  background-color: #0A66C2;
}

 p.social a.email {
  background-color: #4a7f45;
}